{% extends 'base.html' %}

{% block content %}
<div class="admin-content mt-3">

    <!-- Models choose bar -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    🔄 Admin bar
                </div>
                <div class="card-body">
                    <div class="d-grid gap-2 d-md-block">
                        <a href="/admin"                              class="btn btn-danger mb-2">🔥 Home</a>
                        <a href="{{ url_for('video.index_view') }}"   class="btn btn-primary mb-2">🎬 Video</a>
                        <a href="{{ url_for('article.index_view') }}" class="btn btn-warning mb-2">📰 News</a>
                        <a href="{{ url_for('users.index_view') }}"   class="btn btn-success mb-2">🧑‍💼 Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End model choose bar -->

    {% block body %}{% endblock %}

</div>
{% endblock %}
