<div class="mb-2">
  <label>Title:</label>
  <input type="text" name="title" value="{{ selected_video.title if selected_video else '' }}" class="form-control">
</div>

<div class="mb-2">
  <label>Original Title:</label>
  <input type="text" name="title_original" value="{{ selected_video.title_original if selected_video else '' }}" class="form-control">
</div>

<div class="mb-2">
  <label>Year:</label>
  <input type="number" name="year" value="{{ selected_video.year if selected_video else '' }}" class="form-control" min="1800" max="2025">
</div>

<div class="mb-2">
  <label>Genre:</label>
  <input type="text" name="genre" value="{{ selected_video.genre if selected_video else '' }}" class="form-control">
</div>

<div class="mb-2">
  <label>IMDB URL:</label>
  <input type="text" name="imdb_url" value="{{ selected_video.imdb_url if selected_video else '' }}" class="form-control">
</div>

<div class="mb-2">
  <label>IMDB Rating:</label>
  <input type="text" name="imdb_rating" value="{{ selected_video.imdb_rating if selected_video else '' }}" class="form-control">
</div>

<div class="mb-2">
  <label>Description:</label>
  <textarea name="description" class="form-control" rows="3">{{ selected_video.description if selected_video else '' }}</textarea>
</div>

<div class="mb-3">
    <label for="poster" class="form-label">Poster upload:</label>
    <input type="file" class="form-control" name="poster" id="poster" accept="image/*">
</div>
