{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Edit content</h1>

  {% if message %}
    <div class="alert alert-success">{{ message }}</div>
  {% endif %}

  <form method="POST" class="mb-4">
    <div class="input-group">
      <select name="video_id" class="form-select">
        {% for video in videos %}
          <option value="{{ video.id }}"
            {% if selected_video and video.id == selected_video.id %}selected{% endif %}>
            {{ video.title_original }} {{ video.year }}
          </option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-outline-primary">Edit</button>
    </div>
  </form>

  {% if selected_video %}
    <hr>
    <h3>Edit</h3>
    <form method="POST" class="mt-3 border p-3 rounded">
      <input type="hidden" name="video_id" value="{{ selected_video.id }}">
      {% include 'admin_form_fields.html' %}

      <button type="submit" name="save" class="btn btn-success">💾 Save</button>
    </form>
  {% endif %}

  <hr class="my-4">
  <h3>➕ Add new</h3>
  <!-- <form method="POST" class="mt-3 border p-3 rounded"> -->
  <form method="POST" enctype="multipart/form-data" class="mt-3 border p-3 rounded">
    {% include 'admin_form_fields.html' %}
    <button type="submit" name="create" class="btn btn-primary">➕ Add</button>
  </form>
{% endblock %}
