{% extends 'base.html' %}

{% block extra_head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <!-- Left column: Poster -->
      <div class="col-md-3">
        <img src="{{ url_for('static', filename='posters/' ~ video.url ~ '.webp') }}"
             class="img-fluid rounded shadow-sm" alt="Poster {{ video.title_original }}">
      </div>

      <!-- Right column: info -->
      <div class="col-md-9">
        <h1>{{ video.title }}</h1>
        <h4 class="text-muted">{{ video.title_original[0]|upper ~ video.title_original[1:] }}</h4>
        <p><strong>Рік:</strong> {{ video.year }}</p>
        <p><strong>Жанр:</strong> {{ video.genre }}</p>

        {% if video.imdb_rating and video.imdb_url %}
          <a href="{{ video.imdb_url }}" target="_blank"
             class="badge bg-warning text-dark text-decoration-none mb-2 d-inline-block">
            IMDB {{ video.imdb_rating }}
          </a>
        {% endif %}

        {% if video.description %}
          <p class="text-muted">{{ video.description }}</p>
        {% endif %}
      </div>
    </div>

    <!-- Video Player -->
    {% include 'video_player.html' %}
  </div>
{% endblock %}

{% block scripts %}

{% endblock %}
